body {
    background-color: sandybrown;
}
.songs {
    background-color: aquamarine;
    border: 5px, solid, cyan;
    display: inline-block;
    margin: 5vh;
}

.playlists {
    background-color: brown;
    border: 7px, solid, purple;
    margin: 5vh;
    display: inline-block;
}